/* ------------------------------------------------------------------ PRE-LOADER ------------------------------------------------------------------ */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0f0f0f;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.logo-loader {
  width: 100px;
  animation: girarLogo 1s ease-in-out infinite;
}

@keyframes girarLogo {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

/* ------------------------------------------------------------------ ESTILOS GENERALES ------------------------------------------------------------------ */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

html {
  overflow-y: auto;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  background: #0f0f0f;
  padding-top: 80px;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/* ------------------------------------------------------------------ CONTENEDOR HEADER ------------------------------------------------------------------ */

.header-conteiner {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  background-color: #0f0f0f;
  justify-content: center;
  z-index: 1000;
}

/* ------------------------------------------------------------------ LOGO - SHOP - USER ------------------------------------------------------------------ */

.general-conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  position: fixed;
  top: 20px;
  left: 40px;
  background-color: #0f0f0f;
  border: 1px solid #464545;
  border-radius: 1000px;
  padding: 10px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.logo-img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

.usuario {
  position: fixed;
  top: 20px;
  right: 40px;
  background-color: #0f0f0f;
  border: 1px solid #464545;
  border-radius: 1000px;
  padding: 10px;
  width: 60px;
  height: 60px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carro-compra {
  position: fixed;
  top: 20px;
  right: 120px;
  background-color: #0f0f0f;
  border: 1px solid #464545;
  border-radius: 1000px;
  padding: 10px;
  width: 60px;
  height: 60px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo:hover{
  cursor: pointer;
  background-color: #1f1e1e;
}

.logo:hover .logo-img {
  animation: girarLogo 0.5s linear forwards;
}

@keyframes girarLogo {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.usuario:hover{
  cursor: pointer;
  background-color: #1f1e1e;
}

.carro-compra:hover{
  cursor: pointer;
  background-color: #1f1e1e;
}

.usuario i, .carro-compra i {
  color: white;
}

/* ------------------------------------------------------------------ MENU DESPLEGABLE ------------------------------------------------------------------ */

.menu-desplegable {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 600px;
  background: #0f0f0f;
  border-left: 1px solid #464545;
  padding: 24px 20px;
  min-width: 200px;
  z-index: 1000;
  overflow-y: auto;
  transform: translateX(100%);
  transition: transform 0.7s ease;
}

.menu-desplegable.activo {
  transform: translateX(0); 
}

.menu-desplegable p {
  color: #ffffff;
}

.menu-desplegable.activo {
  transform: translateX(0%);
}

.overlay-blur {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 999;
  background: rgba(0,0,0,0.8);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.7s ease;
}

.overlay-blur.activo {
  opacity: 1;
  pointer-events: all;
}

/* ------------------------------------------------------------------ DISEÑO DE CARRITO ------------------------------------------------------------------ */

.toast-oculto {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #222;
  color: #fff;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 14px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease, bottom 0.4s ease;
  z-index: 9999;
}

.toast-oculto.mostrar {
  opacity: 1;
  bottom: 50px;
  pointer-events: all;
}

.carrito-header {
  border-bottom: 1px solid #464545;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.carrito-titulo {
  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: bold;
}

.carrito-vacio {
  color: #FFFFFF;
  font-size: 0.9rem;
  font-weight: bold;
  width: 100%; 
  text-align: center;
  display: inline-block;
  background-color: #0f0f0f;
  border: 1px solid #464545;
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 10px;
}

.item-carrito {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px 0;
  color: #fff;
  gap: 20px;
}

.item-contenedor {
  display: flex;
  align-items: flex-start; 
  gap: 20px;
  flex: 1; 
}

.item-contenedor img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.item-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1; 
}

.item-info img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
}

.item-detalles {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
}

.item-nombre {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}

.item-talle {
  font-weight: normal;
  font-size: 0.9rem;
  color: #ccc;
}

.item-cantidad-controles {
  width: 200px;
  display: flex;
  align-items: center;  
  justify-content: space-between;
  background-color: #0f0f0f;
  border: 1px solid #464545;  
  border-radius: 20px;
  padding: 5px 10px;
  color: #fff;
}

.item-cantidad-controles button {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.cantidad {
  width: 30px;
  text-align: center;
  font-size: 16px;
}

.item-cantidad-controles button:hover {
  color: #e188e0;
}

.item-precio-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 8px;
  min-width: 100px;
}

.item-subtotal {
  font-weight: bold;
  color: white;
  margin: 0;
}

.btn-eliminar {
  background: none;
  border: none;
  color: #e188e0;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 2px 6px;
}

.subtotal-carrito {
  display: flex;
  justify-content: space-between;
  border-bottom: #464545 1px solid;
  width: 100%;
  padding: 10px 0;
  color: #FFFFFF;
  text-align: left;
}

.subtotal-final-contenedor {
  margin-top: 20px;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
}

.envio-contenedor {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 10px;
  border-bottom: #464545 1px solid;
}

.envio-texto{
  color: #fff;
}

.mensaje-envio {
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-bottom: 10px;
}

.envio-campo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.envio-campo input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  background-color: #0f0f0f;
  border: 1px solid #464545;
  color: white;
}

.envio-campo input:focus {
  outline: none;
  border: 1px solid #e188e0;
}

.calcularEnvio-btn {
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  font-size: 0.9rem;
  font-weight: bold;
  background-color: #0f0f0f;
  color: #ffffff;
  border: 1px solid #464545;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  white-space: nowrap;
}

.calcularEnvio-btn:hover {
  background-color: #1f1e1e;
}

.total-final-contenedor {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
}

/* ------------------------------------------------------------------ BARRA DE BÚSQUEDA ------------------------------------------------------------------ */

.barra-busqueda {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f0f0f;
  border-width: 1px;
  border-style: solid;
  border-color: #464545;
  border-radius: 1000px;
  padding: 12px 12px;
  margin: 20px auto;
  width: 800px;
}

.formulario-busqueda {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-busqueda {
  padding: 10px 40px 10px 20px;
  background: #0f0f0f;
  color: #ffffff;
  border-radius: 9999px;
  border: none;
  outline: none;
  font-size: 1rem;
  width: 100%;
}

.boton-busqueda {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: #aaa;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boton-busqueda:hover {
  color: #ffffff;
}

/* ------------------------------------------------------------------ BANNER ENVIO ------------------------------------------------------------------ */

.banner-seccion {
  position: fixed;
  top: 104px;        
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #e188e0;
  color: white;
  padding: 10px 0;
  overflow: hidden;
}

.banner-contenedor {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.banner-tracker {
  display: flex;
  width: max-content;
  animation: marquee 40s linear infinite;
}

.banner-texto-contenedor {
  display: flex;
  gap: 40px;
}

.banner-texto {
  display: flex;
  align-items: center;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* ------------------------------------------------------------------ PRODUCTOS ------------------------------------------------------------------ */

.crearCuenta-contenedor {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 0;
  margin-top: 80px;
  max-width: 800px;
  margin-left: 305px; 
}

.crearCuenta-detalles {
  display: flex;
  flex-direction: column;
  padding: 0;
  border-radius: 20px;
  color: #fff;
  gap: 20px;
  width: 100%;
}

.crearCuenta-categoria a, .crearCuenta-categoria span {
  align-items: center;
  font-size: 0.7rem;
  color: #fff;
  text-decoration: none;
}

.crearCuenta-categoria a:hover,
.crearCuenta-categoria a:visited:hover {
  color: #e188e0;
}

.titulo-crearCuenta {
  font-family: 'Carattere', cursive;
  font-size: 5rem;
  font-weight: normal;
}

.formulario-inicio {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 420px;
}

.formulario-inicio label {
  color: white;
  font-size: 0.9rem;
}

.formulario-inicio input {
  padding: 10px;
  height: 40px;
  border-radius: 20px;
  background-color: #0f0f0f;
  border: 1px solid #464545;
  color: white;
}

.input-con-icono {
  position: relative;
  display: flex;
  align-items: center;
}

.input-con-icono input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  border-radius: 20px;
  background-color: #0f0f0f;
  border: 1px solid #464545;
  color: white;
}

.input-con-icono i {
  position: absolute;
  right: 15px;
  color: #ffffff;
  cursor: pointer;
  transition: color 0.3s;
}

.input-con-icono i.activo {
  color: #e188e0;
}

.formulario-inicio input::placeholder {
  color: #464545;
}

.formulario-inicio input:focus {
  outline: none;
  border: 1px solid #e188e0;
}

.formulario-inicio button {
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  font-size: 0.9rem;
  font-weight: bold;
  width: 420px; 
  text-align: center;
  display: inline-block;
  background-color: #0f0f0f;
  border: 1px solid #464545;
  padding: 10px 0;
  border-radius: 20px;
  cursor: pointer;
}

.formulario-inicio button:hover {
  background-color: #1f1e1e;
}

/* ------------------------------------------------------------------ FOOTER ------------------------------------------------------------------ */

footer {
  background-color: #0f0f0f;
  color: white;
  text-align: center;
  padding: 1rem;
  border-top: 1px solid #1f1e1e;
}

footer#contacto {
  color: white;
  padding: 10px 20px;
  text-align: center;
}

.footer-item {
  margin-bottom: 12px;
  text-align: center;
  margin-top: 15px;
}

.footer-item i {
  font-size: 22px;
  color: white;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.footer-item i:hover {
  transform: scale(1.2);
}

footer .copyright {
  font-size: 0.9em;
  color: #FFFFFF;
}

.hecho-por a {
  color: #fff;
  text-decoration: none;
}

.hecho-por a:hover,
.hecho-por a:visited:hover {
  color: #e188e0;
}

.hecho-por a:visited {
  color: #fff;
}