/* ------------------------------------------------------------------ PRODUCTOS ------------------------------------------------------------------ */

.producto-imagen-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 600px;
  gap: 40px;
}

.producto-contenedor {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  padding: 40px 0;
  margin-top: 80px
}

.producto-imagen {
  position: relative;
  width: 600px;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagen-producto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.producto-descripcion-titulo {
  font-family: 'DM Serif Text', static;
  font-weight: normal;
  font-style: italic;
  color: #FFFFFF;
  font-size: 5rem;
}

.medidas-talle {
  width: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  text-wrap: wrap;
  gap: 10px;
}

.tips-contenedor {
  width: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  text-wrap: wrap;
  gap: 10px;
}

.producto-detalles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  border-radius: 20px;
  color: #fff;
  gap: 10px;
  min-width: 250px;
}

.producto-titulo {
  font-family: 'DM Serif Text', static;
  font-weight: normal;
  font-style: italic;
  font-size: 5rem;
}

.producto-precio {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.anuncio-producto {  
  font-family: 'Montserrat', sans-serif;
  color: #e188e0;
  font-size: 1rem;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.producto-anuncio {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin-bottom: 30px;
}

.botones-talle {
  display: flex;
  gap: 12px;
  margin-bottom: 30px;
}

.boton-talle {
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  font-size: 0.9rem;
  font-weight: bold;
  width: 100px; 
  text-align: center;
  display: inline-block;
  background-color: #0f0f0f;
  border: 1px solid #464545;
  padding: 10px 0;
  border-radius: 20px;
  cursor: pointer;
}

.boton-talle.activo {
  background-color: #e188e0;
  border: 1px solid #e188e0;
  color: #fff;
}

.boton-talle:not(.activo):hover {
  background-color: #1f1e1e;
  color: #fff;
}

.botones-contenedor {
  display: flex;
  gap: 10px;
  align-items: center;
}

.cantidad-selector {
  width: 200px;
  display: flex;
  align-items: center;  
  justify-content: space-between;
  background-color: #0f0f0f;
  border: 1px solid #464545;  
  border-radius: 20px;
  padding: 5px 10px;
  color: #fff;
}

.cantidad-selector button {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.cantidad {
  width: 30px;
  text-align: center;
  font-size: 16px;
}

.cantidad-selector button:hover {
  color: #e188e0;
}

.boton-agregar {
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  font-size: 0.9rem;
  font-weight: bold;
  width: 300px; 
  text-align: center;
  display: inline-block;
  background-color: #0f0f0f;
  border: 1px solid #464545;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.boton-agregar:hover {
  background-color: #1f1e1e;
}

.producto-categoria a, .producto-categoria span {
  align-items: center;
  font-size: 0.7rem;
  color: #fff;
  text-decoration: none;
}

.producto-categoria a:hover,
.producto-categoria a:visited:hover {
  color: #e188e0;
}
.producto-categoria a:visited {
  color: #fff;
}

.devolucion-producto {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.devolucion-titulo {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.devolucion-titulo-texto {
  margin-bottom: 4px;
}

.devolucion-descripcion {
  margin-top: 0px;
  width: 520px;
}