/* ------------------------------------------------------------------ PRODUCTOS ------------------------------------------------------------------ */

.producto-imagen-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 600px;
  gap: 40px;
}

.producto-contenedor {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  padding: 100px;
  margin-top: 80px;

}

.producto-imagen {
  position: relative;
  width: 600px;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagen-producto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.producto-descripcion-titulo {
  font-family: var(--fuente-titulos);
  font-weight: normal;
  font-style: italic;
  color: var(--color-blanco);
  font-size: 5rem;
}

.medidas-talle {
  width: auto;
  font-family: var(--fuente-primaria);
  font-size: 0.9rem;
  color: var(--color-blanco);
  display: flex;
  flex-direction: column;
  text-wrap: wrap;
  gap: 10px;
}

.tips-contenedor {
  width: auto;
  font-family: var(--fuente-primaria);
  font-size: 0.9rem;
  color: var(--color-blanco);
  display: flex;
  flex-direction: column;
  text-wrap: wrap;
  gap: 10px;
}

.producto-detalles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  border-radius: 20px;
  color: var(--color-blanco);
  gap: 10px;
  min-width: 250px;
}

.producto-titulo {
  font-family: var(--fuente-titulos);
  font-weight: normal;
  font-style: italic;
  font-size: 5rem;
}

.producto-precio {
  font-family: var(--fuente-primaria);
  font-size: 2rem;
  font-weight: bold;
}

.anuncio-producto {  
  font-family: var(--fuente-primaria);
  color: var(--color-rosa);
  font-size: 1rem;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.producto-anuncio {
  font-family: var(--fuente-primaria);
  font-size: 1rem;
  margin-bottom: 30px;
}

.botones-talle {
  display: flex;
  gap: 12px;
  margin-bottom: 30px;
}

.boton-talle {
  font-family: var(--fuente-primaria);
  color: var(--color-blanco);
  font-size: 0.9rem;
  font-weight: bold;
  width: 100px; 
  text-align: center;
  display: inline-block;
  background-color: var(--color-fondo);
  border: 1px solid var(--color-bordes);
  padding: 10px 0;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.boton-talle.activo {
  background-color: var(--color-rosa);
  border: 1px solid var(--color-rosa);
  color: var(--color-blanco);
}

.boton-talle:not(.activo):hover {
  background-color: var(--color-hover);
  color: var(--color-blanco);
}

.botones-contenedor {
  display: flex;
  gap: 10px;
  align-items: center;
}

.cantidad-selector {
  width: 200px;
  display: flex;
  align-items: center;  
  justify-content: space-between;
  background-color: var(--color-fondo);
  border: 1px solid var(--color-bordes);  
  border-radius: 20px;
  padding: 5px 10px;
  color: var(--color-blanco);
}

.cantidad-selector button {
  background: none;
  border: none;
  color: var(--color-bordes);
  font-size: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.2s ease;
}

.cantidad {
  width: 30px;
  text-align: center;
  font-size: 16px;
}

.cantidad-selector button:hover {
  color: var(--color-blanco);
}

.cantidad-selector button:focus {
  color: var(--color-rosa);
}

.boton-agregar {
  font-family: var(--fuente-primaria);
  color: var(--color-blanco)FFF;
  font-size: 0.9rem;
  font-weight: bold;
  width: 300px; 
  text-align: center;
  display: inline-block;
  background-color: var(--color-fondo);
  border: 1px solid var(--color-bordes);
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.boton-agregar:hover {
  background-color: var(--color-hover);
}

.producto-categoria a, .producto-categoria span {
  align-items: center;
  font-size: 0.7rem;
  color: var(--color-blanco);
  text-decoration: none;
  transition: color 0.3s ease, transform 0.2s ease;
}

.producto-categoria a:hover,
.producto-categoria a:visited:hover {
  color: var(--color-rosa);
}
.producto-categoria a:visited {
  color: var(--color-blanco);
}

.devolucion-producto {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.devolucion-titulo {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.devolucion-titulo-texto {
  margin-bottom: 4px;
}

.devolucion-descripcion {
  margin-top: 0px;
  width: 520px;
}