/* ------------------------------------------------------------------ COLORES ------------------------------------------------------------------ */

:root {

  /* Colores */

  --color-fondo: #0f0f0f;
  --color-bordes: #464545;
  --color-hover: #1f1e1e;
  --color-rosa: #e188e0;
  --color-blanco: #f3f3f3;
  --color-input: #aaa;

  /* Fuentes */

  --fuente-primaria: 'Montserrat' , sans-serif;
  --fuente-titulos: 'DM Serif Text', static;

}

/* ------------------------------------------------------------------ PRE-LOADER ------------------------------------------------------------------ */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-fondo);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.logo-loader {
  width: 100px;
  animation: girarLogo 1s ease-in-out infinite;
}

@keyframes girarLogo {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

/* ------------------------------------------------------------------ ESTILOS GENERALES ------------------------------------------------------------------ */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

html {
  overflow-y: auto;
  scroll-behavior: smooth;
}

body {
  font-family: var(--fuente-primaria);
  line-height: 1.6;
  background: var(--color-fondo);
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/* ------------------------------------------------------------------ HEADER CONTENEDOR ------------------------------------------------------------------ */

.header-contenedor {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--color-fondo);
  border-bottom: 1px solid var(--color-bordes);
  padding: 15px 20px;
}

.header-general {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-derecha {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* ------------------------------------------------------------------ LOGO ------------------------------------------------------------------ */

.logo-img {
  background-color: var(--color-fondo);
  border: 1px solid var(--color-bordes);
  border-radius: 1000px;
  padding: 10px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.logo-img:hover {
  background-color: var(--color-hover);
  animation: girarLogo 0.5s linear forwards;
}

@keyframes girarLogo {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

/* ------------------------------------------------------------------ BARRA BÚSQUEDA ------------------------------------------------------------------ */

.barra-busqueda {
  flex: 1;
  display: flex;
  justify-content: center;
}

.formulario-busqueda {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 60px;
  display: flex;
  border: 1px solid var(--color-bordes);
  border-radius: 9999px;
  overflow: hidden;
}

.input-busqueda {
  flex: 1;
  padding: 10px 20px;
  background: var(--color-fondo);
  color: var(--color-input);
  border: none;
  outline: none;
  font-size: 1rem;
}

.boton-busqueda {
  background: none;
  border: none;
  color: var(--color-input);
  padding: 0 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.boton-busqueda:hover {
  color: var(--color-blanco);
}

/* ------------------------------------------------------------------ ICONOS ------------------------------------------------------------------ */

.iconos-header {
  display: flex;
  align-items: center;
  gap: 30px;
  
}.carro-compra-contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.carro-compra,
.usuario {
  width: 60px;
  height: 60px;
  border-radius: 1000px;
  border: 1px solid var(--color-bordes);
  background-color: var(--color-fondo);
  color: var(--color-blanco);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.carro-compra:hover,
.usuario:hover {
  background-color: var(--color-hover);
}

.carro-compra-contenedor {
  margin-left: auto;
  position: relative;
}

.contador-carrito {
  font-family: var(--fuente-primaria);
  font-weight: bold;
  position: absolute;
  top: 42px;
  left: 35px;
  width: 24px;
  height: 24px;
  background-color: var(--color-rosa);
  border: none;
  color: var(--color-blanco);
  font-feature-settings: "tnum";
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  font-size: 13px;
  display: none;
}

.menu-hamburguesa {
  position: static;
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 1000px;
  border: 1px solid var(--color-bordes);
  background-color: var(--color-fondo);
  color: var(--color-blanco);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none;
}

.menu-hamburguesa:hover {
  background-color: var(--color-hover);
}

.btn {  
  font-family: var(--fuente-primaria);
  color: var(--color-blanco);
  font-size: 0.9rem;
  font-weight: bold;
  width: 100px; 
  text-align: center;
  display: inline-block;
  background-color: var(--color-fondo);
  border: 1px solid var(--color-bordes);
  padding: 10px 0;
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  background-color: var(--color-hover);
}

/* ------------------------------------------------------------------ MENU DESPLEGABLE PRINCIPAL ------------------------------------------------------------------ */

.menu-desplegable-principal {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: var(--color-fondo);
  color: var(--color-blanco);
  z-index: 999;
  padding: 60px 20px 20px;
  overflow-y: auto;
  transition: right 0.7s ease-in-out;
}

#cerrarMenuPrincipal {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100px;
  border-radius: 1000px;
  border: 1px solid var(--color-bordes);
  background-color: var(--color-fondo);
  color: var(--color-blanco);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#cerrarMenuPrincipal:hover {
  background-color: var(--color-hover);
}

.menu-desplegable-principal.activo {
  right: 0;
}

.menu-desplegable-principal ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.menu-desplegable-principal li {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Esto separa el icono y el texto */
  padding: 10px 20px;
  gap: 10px;
  font-family: var(--fuente-primaria);
  font-size: 0.95rem;
  font-weight: bold;
  background-color: var(--color-fondo);
  border: 1px solid var(--color-bordes);
  border-radius: 20px;
  color: var(--color-blanco);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}


.menu-desplegable-principal li:hover{
  background-color: var(--color-hover);
}

.overlay-blur {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 999;
  background: rgba(0,0,0,0.8);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.7s ease;
}

.overlay-blur.activo {
  opacity: 1;
  pointer-events: all;
}

/* ------------------------------------------------------------------ MENU DESPLEGABLE ------------------------------------------------------------------ */

.menu-desplegable {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 600px;
  background: var(--color-fondo);
  border-left: 1px solid var(--color-bordes);
  padding: 24px 20px;
  min-width: 200px;
  z-index: 1000;
  overflow-y: auto;
  transform: translateX(100%);
  transition: transform 0.7s ease;
}

.menu-desplegable p {
  color: var(--color-blanco);
}

.menu-desplegable.activo {
  transform: translateX(0%);
}

.overlay-blur {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 999;
  background: rgba(0,0,0,0.8);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.7s ease;
}

.overlay-blur.activo {
  opacity: 1;
  pointer-events: all;
}

/* ------------------------------------------------------------------ DISEÑO DE CARRITO ------------------------------------------------------------------ */

.toast-oculto {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #222;
  color: var(--color-blanco);
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 14px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease, bottom 0.4s ease;
  z-index: 9999;
}

.toast-oculto.mostrar {
  opacity: 1;
  bottom: 50px;
  pointer-events: all;
}

.carrito-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-bordes);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.carrito-titulo {
  color: var(--color-blanco);
  font-size: 1.5rem;
}

.carrito-vacio {
  color: var(--color-blanco);
  font-size: 0.9rem;
  font-weight: bold;
  width: 100%; 
  text-align: center;
  display: inline-block;
  background-color: var(--color-fondo);
  border: 1px solid var(--color-bordes);
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 10px;
}

.item-carrito {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px 0;
  color: var(--color-blanco);
  gap: 20px;
}

.item-contenedor {
  display: flex;
  align-items: flex-start; 
  gap: 20px;
  flex: 1; 
}

.item-contenedor img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.item-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1; 
}

.item-info img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
}

.item-detalles {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
}

.item-nombre {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}

.item-talle {
  font-weight: normal;
  font-size: 0.9rem;
  color: var(--color-input);
}

.item-cantidad-controles {
  width: 200px;
  display: flex;
  align-items: center;  
  justify-content: space-between;
  background-color: var(--color-fondo);
  border: 1px solid var(--color-bordes);  
  border-radius: 20px;
  padding: 5px 10px;
  color: var(--color-blanco);
}

.item-cantidad-controles button {
  background: none;
  border: none;
  color: var(--color-bordes);
  font-size: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.2s ease;
}

.cantidad {
  width: 30px;
  text-align: center;
  font-size: 16px;
}

.item-cantidad-controles button:hover{
  color: var(--color-rosa)
}

.item-precio-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 8px;
  min-width: 100px;
}

.item-subtotal {
  font-weight: bold;
  color: var(--color-blanco);
  margin: 0;
}

.btn-eliminar {
  background: none;
  border: none;
  color: var(--color-rosa);
  cursor: pointer;
  font-size: 0.9rem;
  padding: 2px 6px;
}

.subtotal-carrito {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-bordes);
  width: 100%;
  padding: 10px 0;
  color: var(--color-blanco);
  text-align: left;
}

.subtotal-final-contenedor {
  margin-top: 20px;
  color: var(--color-blanco);
  font-size: 1rem;
  font-weight: bold;
}

.envio-contenedor {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 10px;
  border-bottom: 1px solid var(--color-bordes);
}

.envio-texto{
  color: var(--color-blanco);
}

.mensaje-envio {
  display: flex;
  justify-content: space-between;
  color: var(--color-blanco);
  margin-bottom: 10px;
}

.envio-campo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.envio-campo input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  background-color: var(--color-fondo);
  border: 1px solid var(--color-bordes);
  color: var(--color-blanco);
  transition: border 0.3s ease, transform 0.2s ease;
}

.envio-campo input:focus {
  outline: none;
  border: 1px solid var(--color-rosa);
}

.calcularEnvio-btn {
  font-family: var(--fuente-primaria);
  color: var(--color-blanco);
  font-size: 0.9rem;
  font-weight: bold;
  background-color: var(--color-fondo);
  color: var(--color-blanco);
  border: 1px solid var(--color-bordes);
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.calcularEnvio-btn:hover {
  background-color: var(--color-hover);
}

.total-final-contenedor {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  color: var(--color-blanco);
}

.resumen-contenedor {
  display: flex;
  flex-direction: column;
  gap: 5px;  
}

.resumen-item {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}

.confirmar-contenedor {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.resumen-envio {
  display: flex;
  justify-content: space-between;
  color: var(--color-blanco);
}

.resumen-total {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  color: var(--color-blanco);
}

.volver-btn,
.confirmar-btn {
  font-family: var(--fuente-primaria);
  color: var(--color-blanco);
  width: 100%;
  font-size: 0.9rem;
  font-weight: bold;
  background-color: var(--color-fondo);
  color: var(--color-blanco);
  border: 1px solid var(--color-bordes);
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.confirmar-btn:hover {
  background-color: var(--color-rosa);
}

.volver-btn:hover {
  background-color: var(--color-hover);
}

.gracias-contenedor {
  border-top: 1px solid var(--color-bordes);
  margin-top: 10px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* ------------------------------------------------------------------ BANNER ENVIO ------------------------------------------------------------------ */

.banner-seccion {
  position: fixed;
  top: 91px;        
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: var(--color-rosa);
  color: var(--color-blanco);
  padding: 10px 0;
  overflow: hidden;
}

.banner-contenedor {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.banner-tracker {
  display: flex;
  width: max-content;
  animation: marquee 40s linear infinite;
}

.banner-texto-contenedor {
  display: flex;
  gap: 40px;
}

.banner-texto {
  display: flex;
  align-items: center;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* ------------------------------------------------------------------ FOOTER ------------------------------------------------------------------ */

footer {
  background-color: var(--color-fondo);
  color: var(--color-blanco);
  text-align: center;
  padding: 1rem;
  border-top: 1px solid var(--color-bordes);
}

footer#contacto {
  color: var(--color-blanco);
  padding: 10px 20px;
  text-align: center;
}

.footer-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  text-align: center;
  margin-top: 15px;
  gap: 10px;
}

.footer-item a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  text-decoration: none;
}

.footer-item i {
  font-size: 22px;
  color: var(--color-blanco);
  text-decoration: none;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.footer-item i:hover {
  transform: scale(1.2);
}

.copyright {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  color: var(--color-blanco);
  gap: 10px;
}

.hecho-por a {
  color: var(--color-blanco);
  text-decoration: none;
}

.hecho-por a:hover,
.hecho-por a:visited:hover {
  cursor: pointer;
  color: var(--color-rosa);
}

.hecho-por a:visited {
  color: var(--color-blanco);
}

/* ------------------------------------------------------------------ RESPONSIVE HASTA 1024px ------------------------------------------------------------------ */

@media (max-width: 1024px) {

  .barra-busqueda {
    width: 400px;
  }

  .menu-desplegable {
    width: 50%;
    padding: 24px 16px;
  }

  .banner-seccion {
    font-size: 0.85rem;
  }
}

/* ------------------------------------------------------------------ RESPONSIVE HASTA 768px ------------------------------------------------------------------ */

@media (max-width: 768px) {

  .header-general {
    justify-content: space-between;
  }

  .barra-busqueda {
    width: 100%;
  }

  .menu-desplegable {
    width: 100%;
    padding: 24px 16px;
  }

  .carrito-titulo {
    font-size: 1.2rem;
  }

  .item-contenedor img {
    width: 80px;
    height: 80px;
  }

  .item-info img {
    width: 60px;
    height: 60px;
  }

  .item-nombre {
    font-size: 0.9rem;
  }

  .item-talle {
    font-size: 0.8rem;
  }

  .item-cantidad-controles {
    width: 150px;
  }

  .cantidad {
    font-size: 14px;
  }

  .subtotal-final-contenedor,
  .total-final-contenedor {
    font-size: 0.9rem;
  }

  .calcularEnvio-btn,
  .confirmar-btn,
  .volver-btn {
    font-size: 0.8rem;
    padding: 8px 16px;
  }

  .usuario,
  .carro-compra {
    display: none;
  }

  .menu-hamburguesa {
    display: flex;
  }
}

/* ------------------------------------------------------------------ RESPONSIVE HASTA 480px ------------------------------------------------------------------ */

@media (max-width: 480px) {

  .header-general {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .barra-busqueda {
    width: 100px;
  }

  .input-busqueda{
    width: 100px;
  }

  .logo-img {
    display: none;
  }

  .item-cantidad-controles {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .item-nombre {
    font-size: 0.8rem;
  }

  .item-talle {
    font-size: 0.7rem;
  }

  .carrito-titulo {
    font-size: 1rem;
  }

  .confirmar-btn,
  .volver-btn {
    padding: 6px 12px;
    font-size: 0.75rem;
  }
}