/* ------------------------------------------------------------------ USUARIO ------------------------------------------------------------------ */

.usuario-contenedor {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 0;
  margin-top: 80px;
  max-width: 800px;
  margin-left: 305px; 
}

.usuario-detalles {
  display: flex;
  flex-direction: column;
  padding: 0;
  border-radius: 20px;
  color: #fff;
  gap: 20px;
  width: 100%;
}

.usuario-categoria a, .usuario-categoria span {
  align-items: center;
  font-size: 0.7rem;
  color: #fff;
  text-decoration: none;
}

.usuario-categoria a:hover,
.usuario-categoria a:visited:hover {
  color: var(--color-rosa);
}

.usuario-categoria a:visited {
  color: #fff;
}

.titulo-usuario {
  font-family: 'DM Serif Text', static;
  font-weight: normal;
  font-style: italic;
  font-size: 5rem;
}

.formulario-inicio {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 420px;
}

.formulario-inicio label {
  color: var(--color-blanco);
  font-size: 0.9rem;
}

.formulario-inicio input {
  padding: 10px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--color-fondo);
  border: 1px solid var(--color-bordes);
  color: var(--color-blanco);
}

.input-con-icono {
  position: relative;
  display: flex;
  align-items: center;
}

.input-con-icono input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  border-radius: 20px;
  background-color: var(--color-fondo);
  border: 1px solid var(--color-bordes);
  color: var(--color-blanco);
}

.input-con-icono i {
  position: absolute;
  right: 15px;
  color: #ccc;
  cursor: pointer;
  transition: color 0.3s;
}

.input-con-icono i.activo {
  color: var(--color-rosa);
}
.formulario-inicio input::placeholder {
  color: var(--color-bordes);
}

.formulario-inicio input:focus {
  outline: none;
  border: 1px solid var(--color-rosa);
}

.formulario-inicio button {
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  font-size: 0.9rem;
  font-weight: bold;
  width: 420px; 
  text-align: center;
  display: inline-block;
  background-color: var(--color-fondo);
  border: 1px solid var(--color-bordes);
  padding: 10px 0;
  border-radius: 20px;
  cursor: pointer;
}

.formulario-inicio button:hover {
  background-color: var(--color-hover);
}

.olvidar-contraseña a,
.olvidar-contraseña a:visited {
  color: var(--color-rosa);
  font-size: 0.7rem;
  text-decoration: none;
}

.crear-cuenta {
  font-size: 0.7rem;
  color: #fff;
}

.crear-cuenta a,
.crear-cuenta a:visited {
  color: var(--color-rosa);
  text-decoration: none;
}