/* ------------------------------------------------------------------ PRODUCTOS ------------------------------------------------------------------ */

.producto-contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px;
  margin-top: 40px;
}

.producto-superior {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 60px;
}

.producto-inferior {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.producto-imagen-wrapper {
  max-width: 600px;
}

.producto-imagen {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagen-producto {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}

.producto-detalles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  color: var(--color-blanco);
  gap: 10px;
  min-width: 250px;
  max-width: 500px;
}

.producto-titulo {
  font-family: var(--fuente-titulos);
  font-weight: normal;
  font-style: italic;
  width: 700px;
  max-width: 100%;
  font-size: 5rem;
}

.producto-precio {
  font-size: 2rem;
  font-weight: bold;
}

.anuncio-producto {
  color: var(--color-rosa);
  font-size: 1rem;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.producto-anuncio {
  font-size: 1rem;
  margin-bottom: 30px;
}

.botones-talle {
  display: flex;
  gap: 12px;
  margin-bottom: 30px;
}

.boton-talle {
  font-size: 0.9rem;
  font-weight: bold;
  width: 200px;
  background-color: var(--color-fondo);
  border: 1px solid var(--color-bordes);
  padding: 10px 0;
  border-radius: 20px;
  cursor: pointer;
  color: var(--color-blanco);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.boton-talle.activo {
  background-color: var(--color-rosa);
  border-color: var(--color-rosa);
  color: var(--color-blanco);
}

.boton-talle:not(.activo):hover {
  background-color: var(--color-hover);
  color: var(--color-blanco);
}

.botones-contenedor {
  display: flex;
  gap: 10px;
  align-items: center;
}

.cantidad-selector {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-fondo);
  border: 1px solid var(--color-bordes);
  border-radius: 20px;
  padding: 5px 10px;
}

.cantidad-selector button {
  background: none;
  border: none;
  color: var(--color-bordes);
  font-size: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.2s ease;
}

.cantidad {
  width: 30px;
  text-align: center;
  font-size: 16px;
}

.cantidad-selector button:hover {
  color: var(--color-blanco);
}

.cantidad-selector button:focus {
  color: var(--color-rosa);
}

.boton-agregar {
  font-size: 0.9rem;
  font-weight: bold;
  width: 300px;
  background-color: var(--color-fondo);
  border: 1px solid var(--color-bordes);
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  color: var(--color-blanco);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.boton-agregar:hover {
  background-color: var(--color-hover);
}

.producto-categoria a, .producto-categoria span {
  font-size: 0.7rem;
  color: var(--color-blanco);
  text-decoration: none;
  transition: color 0.3s ease;
}

.producto-categoria a:hover {
  color: var(--color-rosa);
}

.devolucion-producto {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.devolucion-titulo {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.devolucion-titulo-texto {
  margin-bottom: 4px;
}

.devolucion-descripcion {
  margin-top: 0px;
  width: 100%;
}

.producto-descripcion-titulo {
  font-family: var(--fuente-titulos);
  color: var(--color-blanco);
  font-weight: normal;
  font-style: italic;
  font-size: 5rem;
}

.medidas-talle,
.tips-contenedor {
  font-size: 0.9rem;
  color: var(--color-blanco);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* ------------------------------------------------------------------ RESPONSIVE HASTA 1024px ------------------------------------------------------------------ */

@media (max-width: 1024px) {

  .producto-superior {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 36px;
  }

  .producto-imagen-wrapper {
    max-width: 600px;
    width: 100%;
  }

  .producto-imagen {
    width: 100%;
    justify-content: center;
  }

  .producto-detalles {
    align-items: center;
    text-align: center;
    max-width: 720px;
    width: 100%;
    padding: 20px;
    gap: 12px;
    margin: 0 auto;
  }

  .producto-titulo {
    width: 100%;
  }

  .botones-contenedor {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .devolucion-producto {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .boton-talle {
    width: 300px;
    gap: 8px;
  }

  .cantidad-selector {
    width: 610px;
  }

  .boton-agregar {
    width: 610px;
  }
  .producto-descripcion-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .devolucion-producto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
  }

  .devolucion-descripcion {
    font-size: 12px;
  }

  .producto-descripcion {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-wrap: balance;
  }

}

/* ------------------------------------------------------------------ RESPONSIVE HASTA 768px ------------------------------------------------------------------ */

@media (max-width: 768px) {

  .producto-superior {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 36px;
  }

  .producto-imagen-wrapper {
    max-width: 600px;
    width: 100%;
  }

  .producto-imagen {
    width: 100%;
    justify-content: center;
  }

  .producto-detalles {
    align-items: center;
    text-align: center;
    max-width: 720px;
    width: 100%;
    padding: 20px;
    gap: 12px;
    margin: 0 auto;
  }

  .producto-titulo {
    font-size: 4rem;
    width: 100%;
  }

  .botones-contenedor {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .boton-talle {
    width: 200px;
    gap: 8px;
  }

  .cantidad-selector {
    width: 400px;
  }

  .boton-agregar {
    width: 400px;
  }

  .producto-descripcion-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .devolucion-producto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
  }

  .devolucion-descripcion {
    font-size: 12px;
  }

  .producto-descripcion {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-wrap: balance;
  }

}

/* ------------------------------------------------------------------ RESPONSIVE HASTA 510px ------------------------------------------------------------------ */

@media (max-width: 510px) {

  .producto-contenedor {
    padding: 30px;
  }

  .producto-titulo {
    font-size: 2.2rem;
    width: 300px;
  }

  .producto-precio {
    font-size: 1.4rem;
  }

  .producto-descripcion-titulo {
    font-size: 3rem;
  }

  .boton-talle {
    width: 150px;
    gap: 8px;
  }

  .cantidad-selector {
    width: 300px;
  }

  .boton-agregar {
    width: 300px;
  }

  .producto-descripcion-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .devolucion-producto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
  }

  .devolucion-descripcion {
    font-size: 12px;
  }

  .producto-descripcion {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-wrap: balance;
  }
}
