/* ------------------------------------------------------------------ PANEL DE COMPRA ------------------------------------------------------------------ */

.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.panel-titulo {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--color-blanco);
}

.panel-compra {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 1rem;
  background-color: var(--color-fondo);
  border-radius: 20px 20px 0 0;
  border-top: 1px solid var(--color-bordes);
  border-right: 1px solid var(--color-bordes);
  border-left: 1px solid var(--color-bordes);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-blanco);
  z-index: 10;

  transform: translateY(130%);
  pointer-events: none;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.producto.panel-abierto .panel-compra {
  transform: translateY(0);
  opacity: 1;
  pointer-events: all;
}

.producto {
  position: relative;
  overflow: hidden;
}

.panel-compra .talles {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.botones-talle-panel {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.boton-talle-panel {
  color: var(--color-blanco);
  font-size: 0.9rem;
  font-weight: bold;
  width: 100px; 
  text-align: center;
  display: inline-block;
  background-color: var(--color-fondo);
  border: 1px solid var(--color-bordes);
  padding: 10px 0;
  border-radius: 20px;
  cursor: pointer;
}

.panel-compra .talles .activo {
  background: var(--color-rosa);
  color: var(--color-blanco);
}

.btn-agregar-carrito {
  font-family: var(--fuente-primaria);
  color: var(--color-blanco);
  font-size: 0.9rem;
  font-weight: bold;
  width: 210px; 
  text-align: center;
  display: inline-block;
  background-color: var(--color-fondo);
  border: 1px solid var(--color-bordes);
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.btn-agregar-carrito:hover {
  background-color: var(--color-hover);
}

.btn-cerrar-panel {
  background: none;
  border: none;
  color: var(--color-blanco);
  font-size: 1.2rem;
  cursor: pointer;
}

/* ------------------------------------------------------------------ IMÁGEN PRINCIPAL ------------------------------------------------------------------ */

.imagen-fondo {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagen-fondo::after {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.7);
  z-index: 1;
}

.imagen-recortada {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 25%;
  position: absolute;
  top: 0; left: 0;
  z-index: 0;
  user-select: none;
  pointer-events: none;
}

.contenedor-texto {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.texto-superior {
  font-family: var(--fuente-titulos);
  font-weight: normal;
  font-style: italic;
  color: var(--color-blanco);
  font-size: 11rem;
  line-height: 1;
}

.texto-inferior {
  font-family: var(--fuente-primaria);
  font-size: 2rem;
  color: var(--color-blanco);
}

/* ------------------------------------------------------------------ BANNER ENVIO ------------------------------------------------------------------ */

.banner-seccion-index {
  background-color: var(--color-rosa);
  overflow: hidden;
  height: 40px;
  display: flex;
  align-items: center;
  color: var(--color-blanco);
  font-size: 14px;
  white-space: nowrap;
}

.banner-contenedor-index {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.banner-tracker-index {
  display: flex;
  width: max-content;
  animation: marquee 40s linear infinite;
}

.banner-texto-contenedor-index {
  display: flex;
  gap: 40px;
}

.banner-texto-index {
  display: flex;
  align-items: center;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* ------------------------------------------------------------------ PRODUCTOS ------------------------------------------------------------------ */

.seccion-productos {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-productos {
  font-family: var(--fuente-titulos);
  font-weight: normal;
  font-style: italic;
  color: var(--color-blanco);
  font-size: 7rem;
  text-align: center;
}

.productos-contenedor {
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
  justify-content: center;
}

.producto {
  width: 250px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.imagen-producto {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.imagen-producto img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 20px 20px 0 0;
  transition: opacity 0.3s ease-in-out;
}

.img-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.producto:not(.panel-abierto) .imagen-producto:hover .img-hover {
  opacity: 1;
}

.producto:not(.panel-abierto) .imagen-producto:hover .img-default {
  opacity: 0;
}

.info-producto {
  width: 100%;
  height: auto;
  background-color: var(--color-fondo);
  border-left: 1px solid var(--color-bordes);
  border-right: 1px solid var(--color-bordes);
  border-bottom: 1px solid var(--color-bordes);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

.nombre-producto {
  font-family: var(--fuente-primaria);
  color: var(--color-blanco);
  font-weight: normal;
  font-size: 1.2rem;
  display: inline;
  margin: 0;
  padding: 0;
}

.precio-producto {
  font-family: var(--fuente-primaria);
  color: var(--color-blanco);
  font-size: 1.2rem;
  display: inline;
  margin: 0;
  padding: 0;
}

.precio-producto {
  font-weight: bold;
}

.anuncio-producto {  
  font-family: var(--fuente-primaria);
  color: var(--color-rosa);
  font-size: 0.5rem;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.botones-producto {
  display: flex;
  gap: 10px;
}

.btn {  
  font-family: var(--fuente-primaria);
  color: var(--color-blanco);
  font-size: 0.9rem;
  font-weight: bold;
  width: 100px; 
  text-align: center;
  display: inline-block;
  background-color: var(--color-fondo);
  border: 1px solid var(--color-bordes);
  padding: 10px 0;
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  background-color: var(--color-hover);
}