/* ------------------------------------------------------------------ PANEL DE COMPRA ------------------------------------------------------------------ */

.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.panel-titulo {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--color-blanco);
}

.panel-compra {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 1rem;
  background-color: var(--color-fondo);
  border-radius: 20px 20px 0 0;
  border-top: 1px solid var(--color-bordes);
  border-right: 1px solid var(--color-bordes);
  border-left: 1px solid var(--color-bordes);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-blanco);
  z-index: 10;

  transform: translateY(130%);
  pointer-events: none;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.producto.panel-abierto .panel-compra {
  transform: translateY(0);
  opacity: 1;
  pointer-events: all;
}

.producto {
  position: relative;
  overflow: hidden;
}

.panel-compra .talles {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.botones-talle-panel {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.boton-talle-panel {
  color: var(--color-blanco);
  font-size: 0.9rem;
  font-weight: bold;
  width: 100px; 
  text-align: center;
  display: inline-block;
  background-color: var(--color-fondo);
  border: 1px solid var(--color-bordes);
  padding: 10px 0;
  border-radius: 20px;
  cursor: pointer;
}

.panel-compra .talles .activo {
  background: var(--color-rosa);
  color: var(--color-blanco);
}

.btn-agregar-carrito {
  font-family: 'Montserrat', sans-serif;
  color: var(--color-blanco);
  font-size: 0.9rem;
  font-weight: bold;
  width: 210px; 
  text-align: center;
  display: inline-block;
  background-color: var(--color-fondo);
  border: 1px solid var(--color-bordes);
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.btn-agregar-carrito:hover {
  background-color: var(--color-hover);
}

.btn-cerrar-panel {
  background: none;
  border: none;
  color: var(--color-blanco);
  font-size: 1.2rem;
  cursor: pointer;
}

/* ------------------------------------------------------------------ NO ENCONTRADO ------------------------------------------------------------------ */

.mensaje-no-encontrado span {
  display: block;
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: bold;
}

.mensaje-no-encontrado p {
  display: block;
  margin-bottom: 10px;
  font-size: 1rem;
}

/* ------------------------------------------------------------------ PRODUCTOS ------------------------------------------------------------------ */

.producto-contenedor {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 40px 0;
  margin-top: 80px;
  max-width: 800px;
  margin-left: 305px; 
}

.producto-detalles {
  display: flex;
  flex-direction: column;
  padding: 0;
  border-radius: 20px;
  color: var(--color-blanco);
  gap: 20px;
  width: 100%;
}

.producto-categoria a, .producto-categoria span {
  align-items: center;
  font-size: 0.7rem;
  color: var(--color-blanco);
  text-decoration: none;
}

.producto-categoria a:hover,
.producto-categoria a:visited:hover {
  color: var(--color-rosa);
}

.mensaje-no-encontrado {
  color: var(--color-blanco);
}

.seccion-productos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 0;
}

.titulo-productos {
  font-family: 'DM Serif Text', static;
  font-weight: normal;
  font-style: italic;
  font-size: 5rem;
  color: var(--color-blanco);
  margin-bottom: 20px;
}

.productos-contenedor {
  display: flex;
  gap: 100px;
  justify-content: center;
}

.producto {
  width: 250px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.imagen-producto {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.imagen-producto img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 20px 20px 0 0;
  transition: opacity 0.3s ease-in-out;
}

.img-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.producto:not(.panel-abierto) .imagen-producto:hover .img-hover {
  opacity: 1;
}

.producto:not(.panel-abierto) .imagen-producto:hover .img-default {
  opacity: 0;
}

.info-producto {
  width: 100%;
  height: auto;
  background-color: var(--color-fondo);
  border-left: 1px solid var(--color-bordes);
  border-right: 1px solid var(--color-bordes);
  border-bottom: 1px solid var(--color-bordes);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

.nombre-producto {
  font-family: 'Montserrat', sans-serif;
  color: var(--color-blanco);
  font-weight: normal;
  font-size: 1.2rem;
  display: inline;
  margin: 0;
  padding: 0;
}

.precio-producto {
  font-family: 'Montserrat', sans-serif;
  color: var(--color-blanco);
  font-size: 1.2rem;
  display: inline;
  margin: 0;
  padding: 0;
}

.precio-producto {
  font-weight: bold;
}

.anuncio-producto {  
  font-family: 'Montserrat', sans-serif;
  color: var(--color-rosa);
  font-size: 0.5rem;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.botones-producto {
  display: flex;
  gap: 10px;
}

.btn {  
  font-family: 'Montserrat', sans-serif;
  color: var(--color-blanco);
  font-size: 0.9rem;
  font-weight: bold;
  width: 100px; 
  text-align: center;
  display: inline-block;
  background-color: var(--color-fondo);
  border: 1px solid var(--color-bordes);
  padding: 10px 0;
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  background-color: var(--color-hover);
}