/* ------------------------------------------------------------------ PANEL DE COMPRA ------------------------------------------------------------------ */

.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.panel-titulo {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--color-blanco);
}

.panel-compra {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 1rem;
  background-color: var(--color-fondo);
  border-radius: 20px 20px 0 0;
  border-top: 1px solid var(--color-bordes);
  border-right: 1px solid var(--color-bordes);
  border-left: 1px solid var(--color-bordes);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-blanco);
  z-index: 10;

  transform: translateY(130%);
  pointer-events: none;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.producto.panel-abierto .panel-compra {
  transform: translateY(0);
  opacity: 1;
  pointer-events: all;
}

.producto {
  position: relative;
  overflow: hidden;
}

.panel-compra .talles {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.botones-talle-panel {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.boton-talle-panel {
  color: var(--color-blanco);
  font-size: 0.9rem;
  font-weight: bold;
  width: 100px; 
  text-align: center;
  display: inline-block;
  background-color: var(--color-fondo);
  border: 1px solid var(--color-bordes);
  padding: 10px 0;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.boton-talle-panel:hover {
  background-color: var(--color-hover);
}

.panel-compra .talles .activo {
  background: var(--color-rosa);
  color: var(--color-blanco);
}

.btn-agregar-carrito {
  font-family: var(--fuente-primaria);
  color: var(--color-blanco);
  font-size: 0.9rem;
  font-weight: bold;
  width: 210px; 
  text-align: center;
  display: inline-block;
  background-color: var(--color-fondo);
  border: 1px solid var(--color-bordes);
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-agregar-carrito:hover {
  background-color: var(--color-hover);
}

.btn-cerrar-panel {
  background: none;
  border: none;
  color: var(--color-blanco);
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.2s ease;
}

.btn-cerrar-panel:hover {
  color: var(--color-bordes);
}

/* ------------------------------------------------------------------ NO ENCONTRADO ------------------------------------------------------------------ */

.mensaje-no-encontrado span {
  display: block;
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: bold;
}

.mensaje-no-encontrado p {
  display: block;
  margin-bottom: 10px;
  font-size: 1rem;
}

/* ------------------------------------------------------------------ PRODUCTOS ------------------------------------------------------------------ */

.producto-contenedor {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 40px 0;
  margin-top: 80px;
  max-width: 800px;
  margin-left: 305px; 
}

.producto-detalles {
  display: flex;
  flex-direction: column;
  padding: 0;
  border-radius: 20px;
  color: var(--color-blanco);
  gap: 20px;
  width: 100%;
}

.producto-categoria a, .producto-categoria span {
  align-items: center;
  font-size: 0.7rem;
  color: var(--color-blanco);
  text-decoration: none;
}

.producto-categoria a:hover,
.producto-categoria a:visited:hover {
  color: var(--color-rosa);
}

.mensaje-no-encontrado {
  color: var(--color-blanco);
}

.seccion-productos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 0;
}

.titulo-productos {
  font-family: var(--fuente-titulos);
  font-weight: normal;
  font-style: italic;
  font-size: 5rem;
  color: var(--color-blanco);
  margin-bottom: 20px;
}

.productos-contenedor {
  display: flex;
  gap: 100px;
  justify-content: center;
}

.producto {
  width: 250px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.imagen-producto {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.imagen-producto img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 20px 20px 0 0;
  transition: opacity 0.3s ease-in-out;
}

.img-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.producto:not(.panel-abierto) .imagen-producto:hover .img-hover {
  opacity: 1;
}

.producto:not(.panel-abierto) .imagen-producto:hover .img-default {
  opacity: 0;
}

.info-producto {
  width: 100%;
  height: auto;
  background-color: var(--color-fondo);
  border-left: 1px solid var(--color-bordes);
  border-right: 1px solid var(--color-bordes);
  border-bottom: 1px solid var(--color-bordes);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

.nombre-producto {
  font-family: var(--fuente-primaria);
  color: var(--color-blanco);
  font-weight: normal;
  font-size: 1.2rem;
  display: inline;
  margin: 0;
  padding: 0;
}

.precio-producto {
  font-family: var(--fuente-primaria);
  color: var(--color-blanco);
  font-size: 1.2rem;
  display: inline;
  margin: 0;
  padding: 0;
}

.precio-producto {
  font-weight: bold;
}

.anuncio-producto {  
  font-family: var(--fuente-primaria);
  color: var(--color-rosa);
  font-size: 0.5rem;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.botones-producto {
  display: flex;
  gap: 10px;
}

.btn {  
  font-family: var(--fuente-primaria);
  color: var(--color-blanco);
  font-size: 0.9rem;
  font-weight: bold;
  width: 100px; 
  text-align: center;
  display: inline-block;
  background-color: var(--color-fondo);
  border: 1px solid var(--color-bordes);
  padding: 10px 0;
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  background-color: var(--color-hover);
}

/* -------------------------------------- RESPONSIVE DESIGN -------------------------------------- */

/* Tablets (pantallas medianas) */
@media (max-width: 1024px) {
  .producto-contenedor {
    margin-left: auto;
    margin-right: auto;
    padding: 40px 20px;
  }

  .productos-contenedor {
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
  }

  .producto {
    width: 220px;
  }

  .titulo-productos {
    font-size: 4rem;
    text-align: center;
  }

  .btn-agregar-carrito {
    width: 100%;
  }
}

/* Móviles (pantallas pequeñas) */
@media (max-width: 600px) {
  .producto-contenedor {
    margin-top: 40px;
    padding: 20px 15px;
  }

  .productos-contenedor {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  .producto {
    width: 100%;
    max-width: 300px;
  }

  .titulo-productos {
    font-size: 2.8rem;
    text-align: center;
  }

  .panel-compra {
    padding: 1rem 0.8rem;
  }

  .botones-talle-panel {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .boton-talle-panel {
    width: 80px;
    font-size: 0.8rem;
  }

  .btn-agregar-carrito {
    font-size: 0.85rem;
    width: 100%;
  }

  .info-producto {
    padding: 15px;
    gap: 8px;
  }

  .nombre-producto,
  .precio-producto {
    font-size: 1rem;
  }

  .anuncio-producto {
    font-size: 0.6rem;
  }

  .btn {
    width: 100%;
    font-size: 0.85rem;
    padding: 10px 0;
  }

  .botones-producto {
    flex-direction: column;
    width: 100%;
    gap: 8px;
  }

  .mensaje-no-encontrado span {
    font-size: 1.5rem;
    text-align: center;
  }

  .mensaje-no-encontrado p {
    font-size: 0.9rem;
    text-align: center;
  }
}

/* Teléfonos muy pequeños */
@media (max-width: 400px) {

  .producto-contenedor {
    width: 50%;
    height: 50%;
  }

  .titulo-productos {
    font-size: 2.2rem;
  }

  .nombre-producto,
  .precio-producto {
    font-size: 0.95rem;
  }

  .boton-talle-panel {
    width: 70px;
    font-size: 0.75rem;
  }

  .btn-agregar-carrito {
    font-size: 0.8rem;
  }
}
