* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

html {
  min-height: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  background: #0f0f0f;
  padding-top: 80px;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* ------------------------------------------------------------------ CONTENEDOR HEADER ------------------------------------------------------------------ */

.header-conteiner {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  background-color: #0f0f0f;
  justify-content: center;
  z-index: 1000;
}

/* ------------------------------------------------------------------ LOGO - SHOP - USER ------------------------------------------------------------------ */

.general-conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  position: fixed;
  top: 20px;
  left: 40px;
  background-color: #0f0f0f;
  border: 1px solid #464545;
  border-radius: 1000px;
  padding: 10px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.logo-img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

.usuario {
  position: fixed;
  top: 20px;
  right: 40px;
  background-color: #0f0f0f;
  border: 1px solid #464545;
  border-radius: 1000px;
  padding: 10px;
  width: 60px;
  height: 60px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carro-compra {
  position: fixed;
  top: 20px;
  right: 120px;
  background-color: #0f0f0f;
  border: 1px solid #464545;
  border-radius: 1000px;
  padding: 10px;
  width: 60px;
  height: 60px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo:hover{
  cursor: pointer;
  background-color: #1f1e1e;
}

.logo:hover .logo-img {
  animation: girarLogo 0.5s linear forwards;
}

@keyframes girarLogo {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.usuario:hover{
  cursor: pointer;
  background-color: #1f1e1e;
}

.carro-compra:hover{
  cursor: pointer;
  background-color: #1f1e1e;
}

/* ------------------------------------------------------------------ BARRA DE BÚSQUEDA ------------------------------------------------------------------ */

.barra-busqueda {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f0f0f;
  border-width: 1px;
  border-style: solid;
  border-color: #464545;
  border-radius: 1000px;
  padding: 12px 12px;
  margin: 20px auto;
  width: 500px;
}

.formulario-busqueda {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-busqueda {
  padding: 10px 40px 10px 20px;
  background: #0f0f0f;
  color: #ffffff;
  border-radius: 9999px;
  border: none;
  outline: none;
  font-size: 1rem;
  width: 100%;
}

.boton-busqueda {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: #aaa;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boton-busqueda:hover {
  color: #ffffff;
}

/* ------------------------------------------------------------------ IMÁGEN PRINCIPAL ------------------------------------------------------------------ */

.imagen-fondo {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagen-fondo::after {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.7);
  z-index: 1;
}

.imagen-recortada {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 25%;
  position: absolute;
  top: 0; left: 0;
  z-index: 0;
  user-select: none;
  pointer-events: none;
}

.contenedor-texto {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.texto-superior {
  font-family: 'Carattere', cursive;
  color: #fff;
  font-size: 15rem;
}

.texto-inferior {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 2rem;
}

/* ------------------------------------------------------------------ BANNER ENVIO ------------------------------------------------------------------ */

.banner-envio {
  background-color: #e188e0;
  color: white;
  padding: 10px 0;
}

.banner-texto {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: #fff;
}

.banner-texto img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

/* ------------------------------------------------------------------ PRODUCTOS ------------------------------------------------------------------ */

.seccion-productos {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-productos {
  font-family: 'Carattere', static;
  color: #fff;
  font-size: 8rem;
  display: block;
  text-align: center;
  margin-bottom: 0px; 
}

.productos-contenedor {
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
  justify-content: center;
}

.producto {
  width: 250px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.imagen-producto {
  position: relative;
  width: 100%;
  height: auto;
}

.imagen-producto img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 20px 20px 0 0;
  transition: opacity 0.3s ease-in-out;
}

.img-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.imagen-producto:hover .img-hover {
  opacity: 1;
}

.imagen-producto:hover .img-default {
  opacity: 0;
}

.info-producto {
  width: 100%;
  height: auto;
  background-color: #0f0f0f;
  border-left: 1px solid #464545;
  border-right: 1px solid #464545;
  border-bottom: 1px solid #464545;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.nombre-producto,
.precio-producto {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 1.2rem;
}

.precio-producto {
  font-weight: bold;
}

.anuncio-producto {  
  font-family: 'Montserrat', sans-serif;
  color: #e188e0;
  font-size: 0.5rem;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.btn {  
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  font-size: 0.9rem;
  font-weight: bold;
  width: 100px; 
  text-align: center;
  display: inline-block;
  background-color: #0f0f0f;
  border: 1px solid #464545;
  padding: 10px 0;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  background-color: #1f1e1e;
}

/* ------------------------------------------------------------------ FOOTER ------------------------------------------------------------------ */

footer {
  background-color: #0f0f0f;
  color: white;
  text-align: center;
  padding: 1rem;
  border-top: 1px solid #1f1e1e;
}

footer#contacto {
  color: white;
  padding: 10px 20px;
  text-align: center;
}

.footer-item {
  margin-bottom: 12px;
  text-align: center;
  margin-top: 15px;
}

.footer-item i {
  font-size: 22px;
  color: white;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.footer-item i:hover {
  transform: scale(1.2);
}

footer .copyright {
  font-size: 0.9em;
  color: #FFFFFF;
}